body {
    margin: auto 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    background-image: url('./img/window1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.taskbar {
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
}

.menu-button {
    height: 32px;
    width: 40px;
    background-color: rgba(123, 123, 123, 0.156);
    padding: 7px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.menu-button:hover {
    background-color: rgba(123, 123, 123, 0.395);
    color: rgb(43, 167, 255)
}

.searchbox {
    height: 32px;
    width: 350px;
}

.searchbox input {
    background-color: rgba(123, 123, 123, 0.503);
    height: 100%;
    width: 100%;
    padding: 7px;
    border: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.searchbox input:focus {
    outline: none;
    background-color: rgba(181, 181, 181, 0.503);
}

#popup {
    position: absolute;
    display: none;
    height: 220px;
    width: 180px;
    background-color:rgb(245, 245, 245);
    box-shadow: 0px 0px 5px black;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
     user-select:none;
}
#popup span{
    display: block;
    padding: 5px;
    padding-left:30px;
}
#popup i{
    float: right;
}

#popup span:hover{
    background-color: rgba(128, 128, 128, 0.462);
}
.icons{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    width:300px;
    text-align: center;
}
.icon{
    padding: 5px;
    height:100px;
    width:100px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color:white;
}
.iconimgs{
    padding: 5px;
    height:100px;
    width:150px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color:white;
}
.icon:hover{
    background-color: rgba(255,255,255,0.3);
    color:black;
}

.iconimgs img{
    width: 100%;
    height: 100%;
}
.iconimgs img:hover{
 border: 2px solid rgb(0, 128, 255);
 cursor: pointer;
}

.icon i{    
    font-size: 50px;
    text-shadow:0px 0px 3px black;
}
.fa-cogs{
    color:white;
}
.fa-file{
    color:rgb(233, 215, 112);
}
.fa-desktop{
    color:rgb(95, 92, 92);
}
.fa-quora{
    color:rgb(84, 2, 2);
}
.popupBox{
    position: absolute;
    width:700px;
    height:500px;
    z-index:3;
    right:20px;
    top:20px;
    background-color: whitesmoke;
    display: none;
}
.head{
    height:20px;
    background-color: rgba(128, 128, 128, 0.231);
    border-bottom:0.5px solid gray;
    text-align: right;
    font-size: 1rem;
}
.head i {
    padding: 2px 4px;
}
.head i:hover{
    background-color:red;
    color:white;
}
.foot{
    height:50px;
    background-color: rgba(128, 128, 128, 0.231);
    text-align: right;
    border-top: 0.5px solid gray;

}
.content{
    display: flex;
    height: 430px;
}

.sidemenu{
    width:150px;
    background-color: rgba(128, 128, 128, 0.231);
    height:100%;
    border-right: 0.5px solid gray;
}
.rightbox{
    width:550px;
    overflow-y: auto;
}
.sidemenu,.rightbox{
    height:100%;
}
.filename{
    width: 75%;
}
.filename input{
    width: 80%;
}
.buttons{
    width:25%
}
.buttons button:hover{
    cursor: pointer;
}
